<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show page</title>
</head>
<body>
    <h1>Your Flight</h1>
    <h5><%=flight.airline%></h5>
    <h5><%=flight.airport%></h5>
    <h5><%=flight.flightNo%></h5>
    <h5><%=flight.departs%></h5>
    <% flight.destinations.forEach((destination)=> {%>
        <h5><%=destination.destAirport%></h5>
        <h5><%=destination.arrival%></h5>
        
        <%})%>



    

   
</body>
</html>